<!DOCTYPE html>
<html lang="en">
<head>
    <title>NEWSLETTERS</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Update a news</h2>
    <a href="/allnews">Show all News</a>
    {{#newsletters}}
        <form method="POST" action="/updatenewsletter">
            <table class="table">
                <tr>
                    <td>ID: <input type="text" name="id" value="{{id}}" readonly></td>
                </tr>
                <tr>
                    <td>Topic: <input type="text" name="topic" value="{{topic}}"></td>
                </tr>
                <tr>
                    <td>Author: <input type="text" name="author" value={{author}}></td>
                </tr>
                <tr>
                <td>Text: <input type="text" name="text" value={{text}}></td>
                <td><input type="submit" name="submit" value="Update newsletters" class="btn btn-secondary"></td>
                    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
            </table>
        </form>
    {{/newsletters}}
</div>
</body>
</html>