<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Show textfile users</h2>

    <table class="table table-striped">
        <tr>
            <td>Name: </td>
            <td>Email: </td>
            <td>Password: </td>
        </tr>
        {{#user}}
            <tr>
                <td> {{name}}</td>
                <td> {{email}}</td>
                <td> {{password}}</td>
            </tr>
        {{/user}}
    </table>


</div>

</div>
<form method="POST" action="/textfile/saveuser">
    <table class="table">

        <tr>
            <td>Name: <input type="text" name="name"></td>
        </tr>

        <tr>
            <td>Email: <input type="text" name="email"></td>
        </tr>
        <tr>
            <td>Password: <input type="text" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit" value="Add User to textfile" class="btn btn-primary"></td>

        </tr>
    </table>
</form>


</body>
</html>